/* hele nettsiden */
body {
    text-align: center;
    font-family: arial;
    background-color: rgb(106, 27, 27);
    color: white;
}

/* navigasjonsmeny øverst */
.navbar {
    background-color: mørk rød;
    padding: 10px;
    text-align: center;
}

/* Lenker i menyen */
.navbar a {
    color: white;
    text-decoration: none;
}

/* Hover-effekt på lenker */
.navbar a:hover {
    text-decoration: underline;
}

/* Bunntekst nederst */
.footer {
    background-color: mørk rød;
    color: white;
}
